.lp-our-treatments {
  padding: 6rem 0;
  color: var(--Black);

  @include lg-up {
    padding: 8rem 0;
  }

  &__header {
    text-align: left;
    margin-bottom: 3rem;

    @include lg-up {
      margin-bottom: 5rem;
    }

    .lp-badge {
      display: inline-block;
      margin-bottom: 1.5rem;

      @include lg-up {
        justify-self: start;
        align-self: center;
        margin-bottom: 0;
      }
    }
  }

  &__title {
    font-family: var(--font-titles);
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.2;
    margin: 0;
    text-transform: uppercase;
    color: var(--Black);

    @include lg-up {
      text-align: center;
      margin-top: 4rem;
      font-size: 4rem;
      text-transform: none;
    }
  }

  &__slider-wrap {
    position: relative;
    padding-bottom: 1rem; // Add a bit spacing between cards and dots

    .embla__viewport {
      overflow: hidden;
      padding-bottom: 2.7rem; // to allow shadows
    }

    .embla__container {
      display: flex;
    }
  }

  &__card {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 0.5rem;

    @include lg-up {
      margin: 0 1rem;
    }
  }

  &__card-image {
    width: 100%;
    position: relative;
    padding-top: 65%; // Aspect ratio
    border-radius: 12px;
    overflow: hidden;

    @include lg-up {
      padding-top: 60%;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__card-content {
    background-color: var(--White);
    border-radius: 10px;
    padding: 2.5rem 1.5rem;
    position: relative;
    margin: -3rem 1.5rem 0 1.5rem;
    box-shadow: 0px 16px 19px rgba(0, 0, 0, 0.16);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    z-index: 2;

    @include lg-up {
      padding: 3rem 2rem;
      margin: -4rem 1.5rem 0 1.5rem;
      border-radius: 12px;
    }
  }

  &__card-title {
    font-family: var(--font-titles);
    font-size: 2.8rem;
    font-weight: 800;
    color: var(--Primary);
    margin: 0 0 1.5rem 0;
    text-align: center;
  }

  &__card-text {
    font-family: var(--font-text);
    font-size: 1.7rem;
    line-height: 1.6;
    color: var(--Black);
    margin: 0;
    text-align: center;

    @include lg-up {
      font-size: 2rem;
    }
  }

  .embla__dots {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
    @include lg-up {
      margin-bottom: 0;
    }
  }

  .lp-cta-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .lp-cta-subtitle {
      color: #000000;
    }
  }
}
