@import "../mixins/mixins-master";

.lp-why-us {
  padding: 5rem 0;
  background: var(--Primary-dark);
  color: var(--White);
  overflow: hidden;

  @include lg-up {
    padding: 8rem 0;
  }

  &__grid {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    max-width: 1140px;
    margin: 0 auto;

    @include lg-up {
      display: grid;
      grid-template-columns: 1.1fr 1fr;
      gap: 3.5rem;
    }
  }

  &__badge-wrapper {
    margin-bottom: 2rem;
  }

  &__title {
    font-family: var(--font-titles);
    font-weight: 900;
    font-size: 3.4rem;
    line-height: 1.2;
    color: var(--White);
    margin: 0 0 1.5rem;
    text-align: left;

    @include md-up {
      font-size: 3.5rem;
    }

    @include lg-up {
      font-size: 3.7rem;
    }
  }

  &__subtitle {
    font-family: var(--font-text);
    color: var(--White);
    margin: 0 0 2.5rem;
    text-align: left;

    &--mobile {
      margin: 0;
      font-weight: 600;
      font-size: 1.8rem;
      line-height: 1.4;
      display: block;

      @include lg-up {
        display: none;
      }
    }

    &--desktop {
      font-weight: 500;
      font-size: 1.8rem;
      line-height: 1.5;
      display: none;

      @include lg-up {
        display: block;
      }
    }
  }

  &__image {
    img {
      width: 100%;
      height: auto;
      border-radius: 1.6rem;
      display: block;
      object-fit: cover;
    }
  }

  &__map {
    &--mobile {
      display: block;
      text-align: center;
      margin-top: 1rem;

      img {
        max-width: 80%;
        height: auto;
        display: inline-block;
      }

      @include lg-up {
        display: none;
      }
    }

    &--desktop {
      display: none;
      margin-top: 3rem;
      text-align: center;

      @include lg-up {
        display: block;
      }

      img {
        max-width: 70%;
        height: auto;
      }
    }
  }

  &__cta {
    margin-top: 5rem;

    .lp-cta-subtitle {
      color: var(--White);
    }
  }
}
